<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Serving static files</title>
</head>
<body>
    <div class="card">
        <h2>Welcome to demo API</h2>
        <p>This is a demo movies API build usnig Express JS and a JSON file as data source</p>
        <P>This is a simple demo HTML to demo serving Static files</P>
    </div>
</body>
</html>